{% extends 'accounts/master.html' %}
{% load widget_tweaks %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} 
        {% for users in user  %}
            <div class="mb-3">
                {{users.label}}
                {{users|add_class:"form-control"}}
                <div class="text-danger">{{users.errors}}</div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Register</button>

    </form>
    {{err}}
{% endblock %}